:root {
    --darkbg: #010422;
    --lightblue: #A3D6FF;
    --white: #FFFFFF;
    --cardbg: #ffffff2b;
    --titlefont: "Instrument Serif", serif;
    --subtitlefont: "General Sans", sans-serif;
}


.offer-section {
    background-color: var(--darkbg);
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
    padding: 120px 8%;
    color: var(--white);
}

.stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;
    gap: 40px;
}

.stat-item h3 span {
    font-family: var(--titlefont);
    font-size: 4rem;
    font-weight: 400;
}

.stat-item p {
    font-family: var(--subtitlefont);
    font-size: 1.2rem;
    opacity: 0.6;
}

.offer-header {
    max-width: 700px;
    margin-bottom: 70px;
}

.offer-header .label {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--subtitlefont);
    font-size: 0.85rem;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.offer-header .line {
    width: 40px;
    height: 1px;
    background-color: var(--white);
}

.offer-header h2 {
    font-family: var(--titlefont);
    font-size: 5.5rem;
    line-height: 0.95;
    margin-bottom: 25px;
    font-weight: 400;
}

.offer-header h2 i {
    font-style: italic;
    color: var(--lightblue);
    opacity: 0.7;
}

.offer-header p {
    font-family: var(--subtitlefont);
    font-size: 1.2rem;
    line-height: 1.6;
    opacity: 0.6;
}

.offer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 320px;
    gap: 25px;
}

.card {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(108, 144, 222, 0.28) 0%, rgba(60, 84, 103, 0.28) 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    padding: 35px;
    padding-top: 0;
    transition: transform 0.3s ease, border 0.3s ease;
}

.card:hover {
    border: 1px solid rgba(163, 214, 255, 0.4);
}

.card-info {
    position: relative;
    z-index: 5;
    pointer-events: none;
}

.card h4 {
    font-family: var(--titlefont);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.card p {
    font-family: var(--subtitlefont);
    font-size: 0.95rem;
    opacity: 0.9;
    margin-top: -1%;
}

.card img {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.6s cubic-bezier(0.2, 0, 0.2, 1);
    pointer-events: none;
    z-index: 1;
}

.card:hover img {
    transform: scale(1.1);
}

.medicine-card img { width: 100%;}
.doctor-card { grid-column: span 2; }
.doctor-card img { width: 52%; bottom: 0; }
.syncing-card img { width: 100%; right: 0; bottom: 0; }
.family-card img { width: 100%; right: 0; bottom: 0; }
.tracking-card img { width: 120%; right: 0; left: 27%; rotate: calc(12deg); }
.reports-card { grid-column: span 2; }
.reports-card img { width: 45%; right: 50px; bottom: 0; }
.reminders-card img { width: 85%; right: 7%; bottom: -10%; }

@media (max-width: 1200px) {
    .offer-header h2 { font-size: 4rem; }
    .offer-grid { grid-auto-rows: 280px; }
}

@media (max-width: 992px) {
    .offer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .doctor-card, .reports-card { grid-column: span 2; }
}

@media (max-width: 768px) {
    .offer-section { padding: 80px 5%; }
    .stat-item h3 { font-size: 3rem; }
    .offer-header h2 { font-size: 3.2rem; }
    .offer-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 260px;
    }
    .card { grid-column: span 1 !important; }
    .doctor-card img, .reports-card img { width: 79%; }
    .medicine-card img { width: 75%;}
.syncing-card img { width: 60%; right: 40%; bottom: 0; }
.family-card img { width: 80%; right: 0; bottom: 0; }
.tracking-card img { width: 76%; right: 0; left: 33%; }
.reports-card { grid-column: span 2; }
.reports-card img { width: 50%; right: 30px; bottom: 0; }
.reminders-card img { width: 55%; right: 7%; bottom: -10%; }
}